PORT=5000

# MONGO_URI=mongodb+srv://kanbanuser:Kanban123456@kanbanapp.ic0srte.mongodb.net/?appName=kanbanApp

MONGO_URI=mongodb://kanbanuser:Kanban123456@ac-0ctatki-shard-00-00.ic0srte.mongodb.net:27017,ac-0ctatki-shard-00-01.ic0srte.mongodb.net:27017,ac-0ctatki-shard-00-02.ic0srte.mongodb.net:27017/?ssl=true&replicaSet=atlas-10et8m-shard-0&authSource=admin&appName=kanbanApp

JWT_SECRET=4d03e338a4b3ec2ab03617c4de991d276a7e0d2d841d1073a27c697378ee0e72




